@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 36, ../scss/style.scss */
body {
  background-color: #e6e6e6;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* line 41, ../scss/style.scss */
div, textarea, input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 44, ../scss/style.scss */
.container {
  max-width: 510px;
  min-width: 324px;
  margin: 50px auto 0px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #ccc;
}

/* line 52, ../scss/style.scss */
.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
/* line 56, ../scss/style.scss */
.row.header {
  padding: 1.5em 2.5em;
  border-bottom: 1px solid #ccc;
  background: url(http://niiiick.com/files/blur-city-1.jpg) left -80px;
  color: #fff;
}
/* line 62, ../scss/style.scss */
.row.body {
  padding: .5em 2.5em 1em;
}

/* line 66, ../scss/style.scss */
.pull-right {
  float: right;
}

/* line 69, ../scss/style.scss */
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: inline-block;
  font-weight: 100;
  font-size: 2.8125em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}

/* line 78, ../scss/style.scss */
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  margin: 1em 0 0.4em 0;
}

/* line 83, ../scss/style.scss */
.btn {
  font-size: 1.0625em;
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: #fff;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
/* line 23, ../scss/style.scss */
.btn:hover {
  background-color: #bfbfbf;
}
/* line 94, ../scss/style.scss */
.btn.btn-submit {
  background-color: #4f6fad;
  border-bottom-color: #374d78;
}
/* line 23, ../scss/style.scss */
.btn.btn-submit:hover {
  background-color: #5f7db6;
}

/* line 99, ../scss/style.scss */
form {
  max-width: 100%;
  display: block;
}
/* line 102, ../scss/style.scss */
form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 106, ../scss/style.scss */
form ul li {
  margin: 0 0 0.25em 0;
  clear: both;
  display: inline-block;
  width: 100%;
}
/* line 111, ../scss/style.scss */
form ul li:last-child {
  margin: 0;
}
/* line 114, ../scss/style.scss */
form ul li p {
  margin: 0;
  padding: 0;
  float: left;
}
/* line 118, ../scss/style.scss */
form ul li p.right {
  float: right;
}
/* line 122, ../scss/style.scss */
form ul li .divider {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
}
/* line 131, ../scss/style.scss */
form ul li .req {
  color: #ee9cb4;
}
/* line 136, ../scss/style.scss */
form label {
  display: block;
  margin: 0 0 0.5em 0;
  color: #4f6fad;
  font-size: 1em;
}
/* line 142, ../scss/style.scss */
form input {
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: #555;
  font-size: 1em;
}
/* line 149, ../scss/style.scss */
form textarea {
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 100%;
  color: #555;
}
/* line 155, ../scss/style.scss */
form small {
  color: #4f6fad;
  margin: 0 0 0 0.5em;
}

@media only screen and (max-width: 480px) {
  /* line 164, ../scss/style.scss */
  .pull-right {
    float: none;
  }

  /* line 167, ../scss/style.scss */
  input {
    width: 100%;
  }

  /* line 170, ../scss/style.scss */
  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }

  /* line 176, ../scss/style.scss */
  li, p {
    width: 100%;
  }

  /* line 179, ../scss/style.scss */
  input.btn {
    margin: 1.5em 0 0.5em;
  }

  /* line 182, ../scss/style.scss */
  h1 {
    font-size: 2.25em;
  }

  /* line 185, ../scss/style.scss */
  h3 {
    font-size: 1.125em;
  }

  /* line 188, ../scss/style.scss */
  li small {
    display: none;
  }
}
